<template>
  <div class="container __admin">
    <h1 class="font-weight-normal">Kaartlaag wijzigen</h1>
    <Spinner v-if="loading" style-type="'admin'" />
    <AdminFormSections
      v-else
      ref="formSections"
      :sections="sections"
      :initial-values="initialValues"
      :form-object="'layers'"
      :object-specific-save="saveLayer"
      @update-source="(source) => (selectedSource = source)"
    >
      <template #linkedData>
        <div class="layer-setting">
          <div class="admin-label-button">
            <button
              v-tippy
              aria-label="Voeg gekoppelde data toe"
              content="Voeg gekoppelde data toe"
              type="button"
              class="button __small __secondary_admin"
              @click="toggleModal('linkedData')"
            >
              <AddIcon />
              Voeg toe
            </button>
          </div>

          <ul class="admin-list">
            <li v-for="linkedData in initialValues.linked_data" :key="linkedData.id">
              {{ linkedData.title }}
              <div class="admin-list-buttons">
                <button
                  v-tippy
                  :content="`Bewerk gekoppelde data ${linkedData.title}`"
                  :aria-label="`Bewerk gekoppelde data ${linkedData.title}`"
                  type="button"
                  class="iconbutton __normal __round"
                  @click="toggleModal('linkedData', linkedData)"
                >
                  <EditIcon class="icon __medium"></EditIcon>
                </button>
                <button
                  v-tippy
                  :content="`Verwijder gekoppelde data ${linkedData.title}`"
                  :aria-label="`Verwijder gekoppelde data ${linkedData.title}`"
                  type="button"
                  class="iconbutton __normal __round"
                  @click="removeLinkedData(linkedData)"
                >
                  <TrashIcon class="icon __medium"></TrashIcon>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </template>
      <template #templates>
        <div class="layer-setting">
          <div class="admin-label-button">
            <button
              v-tippy
              content="Voeg template toe"
              aria-label="Voeg template toe"
              type="button"
              class="button __small __secondary_admin"
              @click="toggleModal('templates')"
            >
              <AddIcon />
              Voeg toe
            </button>
          </div>

          <ul class="admin-list">
            <li v-for="template in initialValues.templates" :key="template.id">
              {{ template.title }}
              <div class="admin-list-buttons">
                <button
                  v-tippy
                  :content="`Bewerk template ${template.title}`"
                  :aria-label="`Bewerk template ${template.title}`"
                  type="button"
                  class="iconbutton __normal __round"
                  @click="toggleModal('templates', template)"
                >
                  <EditIcon class="icon __medium"></EditIcon>
                </button>
                <button
                  v-tippy
                  :content="`Verwijder template ${template.title}`"
                  :aria-label="`Verwijder template ${template.title}`"
                  type="button"
                  class="iconbutton __normal __round"
                  @click="removeTemplate(template)"
                >
                  <TrashIcon class="icon __medium"></TrashIcon>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </template>
    </AdminFormSections>
  </div>
  <FormModal v-if="showFormModal" :toggle-modal="showFormModal" @close="closeFormModal">
    <template #header>
      <h3 v-if="formModalType === 'linkedData'">Gerelateerde data</h3>
      <h3 v-else-if="formModalType === 'templates'">Templates</h3>
    </template>
    <template #body>
      <LinkedDataForm
        v-if="formModalType === 'linkedData'"
        :initial-linked-data="selectedLinkedData"
        @close="closeFormModal"
        @save="saveLinkedData"
      />
      <TemplateForm
        v-else-if="formModalType === 'templates'"
        :initial-template="selectedTemplate"
        @close="closeFormModal"
        @save="saveTemplate"
      />
    </template>
  </FormModal>
</template>

<script>
import AdminFormSections from "@/admin/components/AdminFormSections.vue";
import FormModal from "@/components/FormModal.vue";
import LinkedDataForm from "@/admin/components/LinkedDataForm.vue";
import TemplateForm from "@/admin/components/TemplateForm.vue";
import TrashIcon from "@/assets/icons/trash-icon.svg";
import AddIcon from "@/assets/icons/add-icon.svg";
import EditIcon from "@/assets/icons/edit-icon.svg";
import Spinner from "@/components/Spinner.vue";
import { getAllObjects } from "@/utils/api-helpers";

export default {
  name: "LayerCreateUpdate",
  components: {
    Spinner,
    EditIcon,
    AddIcon,
    TrashIcon,
    TemplateForm,
    LinkedDataForm,
    FormModal,
    AdminFormSections,
  },
  data() {
    return {
      categories: [],
      datasets: [],
      sources: {},
      sourceTypes: [],
      groups: [],
      formats: [],
      sections: {},
      initialValues: {},
      currentValues: {},
      selectedSource: {},
      showFormModal: false,
      formModalType: null,
      selectedLinkedData: null,
      selectedTemplate: null,
      loading: false,
    };
  },
  created() {
    this.loading = true;

    this.sourceTypes = [
      { id: "WMS_WFS", label: "WMS en WFS" },
      { id: "WMS", label: "WMS" },
      { id: "WFS", label: "WFS" },
      { id: "WMTS", label: "WMTS" },
      { id: "XYZ", label: "XYZ" },
      { id: "MVT", label: "MVT" },
    ];
    this.formats = [
      { id: "image/png", label: "image/png" },
      { id: "image/jpeg", label: "image/jpeg" },
      { id: "image/vnd.jpeg-png", label: "image/vnd.jpeg-png" },
    ];

    Promise.all([this.getLayer(), this.getGroups(), this.getCategories(), this.getDatasets(), this.getSources()]).then(
      () => {
        this.setAtlasGroups();
        this.sections = this.getSections();
        this.loading = false;
      },
    );
  },
  methods: {
    async getLayer() {
      const result = await fetch(`/atlas/api/v1/layers/${this.$route.params.id}/`, {
        credentials: "same-origin",
        headers: { "Content-Type": "application/json" },
      });

      if (!result.ok) {
        console.error("Could not fetch layer");
        return;
      }

      const response = await result.json();
      this.initialValues = response;
      this.initialValues.category_id = response.category?.id;
      this.initialValues.source_id = response.source.id;

      // Internal fields used for v-model binding
      this.initialValues.metadata_name = response.metadata.name;
      this.initialValues.metadata_description = response.metadata.description;
      this.initialValues.metadata_organization = response.metadata.organization;
      this.initialValues.metadata_updated = response.metadata.updated;
      this.initialValues.metadata_lineage = response.metadata.lineage;
      this.initialValues.metadata_contact = response.metadata.contact;
      this.initialValues.metadata_link = response.metadata.link;
      this.initialValues.client_style = JSON.stringify(response.client_style);
      this.initialValues.friendly_fields = JSON.stringify(response.friendly_fields);
      this.initialValues.templated_properties = JSON.stringify(response.templated_properties);
      this.initialValues.linked_data = response.linked_data;
      this.initialValues.templates = response.templates;
      this.initialValues.search_properties = response.search_properties.join("\n");
      this.initialValues.display_properties = response.display_properties.join("\n");

      // Set selectedSource
      this.selectedSource = {
        id: response.source.id,
        label: response.source.title,
        url: response.source.url,
        type: response.source.source_type,
      };

      return result;
    },
    async saveLayer(currentValues) {
      currentValues.layer_name =
        typeof currentValues.layer_name === "string" ? currentValues.layer_name : currentValues.layer_name.value;

      currentValues.metadata = {};
      // Convert internal fields back to layer model.
      currentValues.metadata.name = currentValues.metadata_name;
      currentValues.metadata.description = currentValues.metadata_description;
      currentValues.metadata.organization = currentValues.metadata_organization;
      currentValues.metadata.updated = currentValues.metadata_updated;
      currentValues.metadata.lineage = currentValues.metadata_lineage;
      currentValues.metadata.contact = currentValues.metadata_contact;
      currentValues.metadata.link = currentValues.metadata_link;
      currentValues.atlas_groups = currentValues.atlas_groups[1].map((group) => group.id);

      currentValues.display_properties = currentValues.display_properties
        .split("\n")
        .filter((value) => value.trim() !== "");
      currentValues.search_properties = currentValues.search_properties
        .split("\n")
        .filter((value) => value.trim() !== "");

      currentValues.extent_min_x = currentValues.extent_min_x === "" ? null : currentValues.extent_min_x;
      currentValues.extent_min_y = currentValues.extent_min_y === "" ? null : currentValues.extent_min_y;
      currentValues.extent_max_x = currentValues.extent_max_x === "" ? null : currentValues.extent_max_x;
      currentValues.extent_max_y = currentValues.extent_max_y === "" ? null : currentValues.extent_max_y;

      currentValues.client_style = this.validateAndParseJsonString(currentValues.client_style);
      currentValues.friendly_fields = this.validateAndParseJsonString(currentValues.friendly_fields);
      currentValues.templated_properties = this.validateAndParseJsonString(currentValues.templated_properties);

      currentValues.templates = this.initialValues.templates;
      currentValues.linked_data = this.initialValues.linked_data;

      const url = `/atlas/api/v1/layers/${this.$route.params.id}/`;

      try {
        const result = await this.$refs.formSections.sendSaveRequest(url, "PATCH", currentValues);

        if (result.ok) {
          this.$router.push(`/layers`);
        }
      } catch (e) {
        console.error("An unexpected error occurred:", e);
      }
    },
    async getCategories() {
      const url = getAllObjects("/atlas/api/v1/categories/");
      const result = await fetch(url, {
        credentials: "same-origin",
        headers: { "Content-Type": "application/json" },
      });

      if (!result.ok) {
        console.error("Could not fetch categories");
      }

      const response = await result.json();

      this.categories = response.results.map((category) => {
        return { id: category.id, label: category.title };
      });
      return response;
    },
    async getDatasets() {
      const url = getAllObjects("/atlas/api/v1/datasets/");
      const result = await fetch(url, {
        credentials: "same-origin",
        headers: { "Content-Type": "application/json" },
      });

      if (!result.ok) {
        console.error("Could not fetch datasets");
      }

      const response = await result.json();

      this.datasets = response.results.map((dataset) => {
        return { id: dataset.id, label: dataset.title };
      });
      return response;
    },
    async getSources() {
      const url = getAllObjects("/atlas/api/v1/sources/");
      const result = await fetch(url, {
        credentials: "same-origin",
        headers: { "Content-Type": "application/json" },
      });

      if (!result.ok) {
        console.error("Could not fetch sources");
      }

      const response = await result.json();

      this.sources = response.results.map((source) => {
        return { id: source.id, label: source.title, url: source.url, type: source.source_type };
      });

      return response;
    },
    async getGroups() {
      const result = await fetch("/atlas/api/v1/groups/", {
        credentials: "same-origin",
        headers: { "Content-Type": "application/json" },
      });

      if (!result.ok) {
        console.error("Could not fetch groups");
      }

      const response = await result.json();
      this.groups = response.results;
      return response;
    },
    setAtlasGroups() {
      const selectedGroups = this.groups.filter((group) => this.initialValues.atlas_groups.includes(group.id));
      const availableGroups = this.groups.filter((group) => !this.initialValues.atlas_groups.includes(group.id));
      this.initialValues.atlas_groups = [availableGroups, selectedGroups];
    },
    validateAndParseJsonString(text) {
      if (!text || text.trim() === "") {
        return {};
      }

      return JSON.parse(text);
    },
    moveGroup(item, fromArray, toArray) {
      const arrayAriaText = toArray === this.availableGroups ? "Beschikbare groepen" : "Geselecteerde groepen";
      this.assistiveText = `${item.name}, verplaatst naar ${arrayAriaText}`;

      fromArray.splice(fromArray.indexOf(item), 1);
      toArray.push(item);
    },
    saveLinkedData(newValues) {
      if (!newValues.id && !newValues.randomId) {
        // If newValues has no id it needs to be added to the linked_data array.
        this.initialValues.linked_data.push({ ...newValues, randomId: crypto.getRandomValues(new Uint32Array(1))[0] });
      } else {
        // Otherwise update existing values.
        const index = this.initialValues.linked_data.findIndex(
          (data) => (data.id && data.id === newValues.id) || (data.randomId && data.randomId === newValues.randomId),
        );

        if (index !== -1) {
          this.initialValues.linked_data.splice(index, 1, newValues);
        }
      }
      this.closeFormModal();
    },
    async saveTemplate(newValues) {
      if (!newValues.id && !newValues.randomId) {
        this.initialValues.templates.push({ ...newValues, randomId: crypto.getRandomValues(new Uint32Array(1))[0] });
      } else {
        const index = this.initialValues.templates.findIndex(
          (data) => (data.id && data.id === newValues.id) || (data.randomId && data.randomId === newValues.randomId),
        );

        if (index !== -1) {
          this.initialValues.templates.splice(index, 1, newValues);
        }
      }
      this.closeFormModal();
    },
    removeLinkedData(linkedData) {
      const acknowledged = confirm("Weet je zeker dat je het geselecteerde data object wilt verwijderen?");

      if (acknowledged) {
        const index = this.initialValues.linked_data.indexOf(linkedData);
        this.initialValues.linked_data.splice(index, 1);
      }
    },
    removeTemplate(template) {
      const acknowledged = confirm("Weet je zeker dat je het geselecteerde data object wilt verwijderen?");

      if (acknowledged) {
        const index = this.initialValues.templates.indexOf(template);
        this.initialValues.templates.splice(index, 1);
      }
    },
    closeFormModal() {
      this.showFormModal = false;
      this.formModalType = null;
      this.selectedLinkedData = null;
    },
    toggleModal(modalType, editObject = null) {
      this.formModalType = modalType;

      if (modalType === "linkedData") {
        if (editObject) {
          this.selectedLinkedData = { ...editObject, edit: true };
        } else {
          this.selectedLinkedData = {
            title: "",
            url: "",
            name: "",
            source_key: "",
            target_key: "",
            display_properties: [],
            headers: [],
            use_detail_view: false,
            detail_view_fields: [],
            edit: false,
          };
        }
      } else if (modalType === "templates") {
        if (editObject) {
          this.selectedTemplate = { ...editObject, edit: true };
        } else {
          this.selectedTemplate = {
            title: "",
            source: "",
            endpoint: "",
            method: "",
            list: "",
            headers: [],
            fields: [],
            template: "",
            source_key: "",
            target_key: "",
            edit: false,
          };
        }
      }

      this.showFormModal = true;
    },
    getSections() {
      return {
        general: {
          label: "Algemene gegevens",
          questions: [
            {
              label: "Titel",
              id: "title",
              name: "Title",
              type: "text",
              required: true,
            },
            {
              label: "Kort kenmerk",
              id: "slug",
              name: "Slug",
              type: "text",
              required: true,
              maxLength: 50,
              infoText: "Een uniek kenmerk voor de laag in Atlas. Dit kenmerk komt terug in links naar de laag.",
            },
            {
              label: "Categorie",
              id: "category_id",
              name: "Category",
              type: "dropdown",
              placeholder: "categorie",
              required: false,
              options: this.categories,
            },
            {
              label: "Dataset",
              id: "dataset",
              name: "Dataset",
              type: "dropdown",
              required: false,
              placeholder: "Dataset",
              options: this.datasets,
            },
            {
              label: "Gepubliceerd",
              id: "published",
              name: "Published",
              type: "checkbox",
              required: false,
            },
          ],
        },
        source: {
          label: "Bron",
          questions: [
            {
              label: "Bron",
              id: "source_id",
              name: "Source",
              type: "dropdown",
              required: true,
              placeholder: "bron",
              options: this.sources,
            },
            {
              label: "Laagnaam",
              id: "layer_name",
              name: "LayerName",
              type: "layer-select",
              required: true,
              placeholder: "laag",
              sourceField: "source_id",
              options: this.sources,
              infoText: "De naam van de laag op de geoserver.",
            },
            {
              label: "Brontype",
              id: "source_type",
              name: "SourceType",
              type: "dropdown",
              required: false,
              placeholder: "brontype",
              options: this.sourceTypes,
              infoText:
                '"WMS en WFS" en WFS is zichtbaar in zowel het datapaneel als op de kaart. WMS en WMTS toont alleen op de kaart.',
            },
            {
              label: "Projectie",
              id: "projection",
              name: "Projection",
              type: "text",
              required: false,
            },
            {
              label: "Servertype",
              id: "server_type",
              name: "ServerType",
              type: "text",
              required: false,
            },
            {
              label: "Formaat",
              id: "format",
              name: "Format",
              type: "dropdown",
              required: false,
              placeholder: "bron",
              options: this.formats,
            },
          ],
        },
        display: {
          label: "Weergave",
          questions: [
            {
              label: "Transparantie",
              id: "opacity",
              name: "Transparantie",
              type: "decimal",
              required: true,
              step: 0.1,
            },
            {
              label: "Is basislaag",
              id: "is_base",
              name: "IsBase",
              type: "checkbox",
              required: false,
            },
            {
              label: "Is standaard zichtbaar",
              id: "is_visible",
              name: "IsVisible",
              type: "checkbox",
              required: false,
            },
            {
              label: "Is selecteerbaar",
              id: "is_selectable",
              name: "IsSelectable",
              type: "checkbox",
              required: false,
            },
            {
              label: "Haal detailinformatie als HTML op bij de bron",
              id: "use_html_info_format",
              name: "UseHtmlInfoFormat",
              type: "checkbox",
              required: false,
            },
            {
              label: "Toon laag in detail- en dataweergave",
              id: "show_in_detail_panel",
              name: "ShowInDetailPanel",
              type: "checkbox",
              required: false,
            },
            {
              label: "Toon laag alleen in een themakaart",
              id: "not_in_atlas",
              name: "NotInAtlas",
              type: "checkbox",
              required: false,
            },
            {
              label: "Toon deze velden",
              id: "display_properties",
              name: "DisplayProperties",
              type: "text",
              multiLine: true,
              required: false,
              isNested: true,
              infoText: "Voer één veld per regel in. Bij geen invoer worden alle velden getoond.",
            },
            {
              label: "Doorzoek deze velden",
              id: "search_properties",
              name: "SearchProperties",
              type: "text",
              multiLine: true,
              required: false,
              isNested: true,
              infoText: "Voer één veld per regel in. Bij geen invoer worden alle velden getoond.",
            },
            {
              label: "Bereik minimum x",
              id: "extent_min_x",
              name: "ExtentMinX",
              type: "decimal",
              required: false,
              step: 0.01,
              infoText: "Vul in om de laag inactief te maken wanneer de weergave buiten het bereik ligt.",
            },
            {
              label: "Bereik minimum y",
              id: "extent_min_y",
              name: "ExtentMinY",
              type: "decimal",
              required: false,
              step: 0.01,
              infoText: "Vul in om de laag inactief te maken wanneer de weergave buiten het bereik ligt.",
            },
            {
              label: "Bereik maximum x",
              id: "extent_max_x",
              name: "ExtentMaxX",
              type: "decimal",
              required: false,
              step: 0.01,
              infoText: "Vul in om de laag inactief te maken wanneer de weergave buiten het bereik ligt.",
            },
            {
              label: "Bereik maximum y",
              id: "extent_max_y",
              name: "ExtentMaxY",
              type: "decimal",
              required: false,
              step: 0.01,
              infoText: "Vul in om de laag inactief te maken wanneer de weergave buiten het bereik ligt.",
            },
            {
              label: "Zoomniveau minimum",
              id: "zoom_min",
              name: "ZoomMin",
              type: "decimal",
              required: false,
              step: 0.01,
            },
            {
              label: "Zoomniveau maximum",
              id: "zoom_max",
              name: "ZoomMax",
              type: "decimal",
              required: false,
              step: 0.01,
            },
            {
              label: "Stijlnaam voor WMS / WMTS laag",
              id: "server_style",
              name: "ServerStyle",
              type: "text",
              required: false,
              infoText: "Stijlnaam zoals beschikbaar op de server",
            },
            {
              label: "Stijl voor WFS / MVT laag",
              id: "client_style",
              name: "ClientStyle",
              type: "text",
              multiLine: true,
              required: false,
              isNested: true,
              infoText: "Stijl in GeoStyler formaat.",
            },
            {
              label: "Vriendelijke veldnamen",
              id: "friendly_fields",
              name: "FriendlyFields",
              type: "text",
              multiLine: true,
              required: false,
              isNested: true,
              infoText: "Maak veldnamen vriendelijk.",
            },
            {
              label: "Templatevelden",
              id: "templated_properties",
              name: "TemplatedProperties",
              type: "text",
              multiLine: true,
              required: false,
              isNested: true,
              infoText: "Velden die samengesteld worden vanuit een template.",
            },
            {
              label: "Legenda",
              id: "legend_url",
              name: "LegendUrl",
              type: "text",
              required: false,
              infoText: "Overschrijf link naar legenda",
            },
          ],
        },
        metadata: {
          label: "Metadata",
          questions: [
            {
              label: "Naam",
              id: "metadata_name",
              name: "Name",
              type: "text",
              required: false,
              isNested: true,
            },
            {
              label: "Omschrijving",
              id: "metadata_description",
              name: "metadataDescription",
              type: "text",
              required: false,
              multiLine: true,
              isNested: true,
              infoText: "Het is mogelijk om tekst op te maken met Markdown in dit veld.",
            },
            {
              label: "Organisatie",
              id: "metadata_organization",
              name: "metadataOrganisation",
              type: "text",
              required: false,
              isNested: true,
            },
            {
              label: "Contactpersoon",
              id: "metadata_contact",
              name: "metadataContact",
              type: "text",
              required: false,
              isNested: true,
            },
            {
              label: "Herkomst data",
              id: "metadata_lineage",
              name: "metadataLineage",
              type: "text",
              multiLine: true,
              required: false,
              isNested: true,
              infoText:
                "Beschrijft de herkomst van de dataset. Het is mogelijk om tekst op te maken met Markdown in dit veld.",
            },
            {
              label: "Laatst bijgewerkt",
              id: "metadata_updated",
              name: "metadataUpdated",
              type: "text",
              required: false,
            },
            {
              label: "Meer informatie",
              id: "metadata_link",
              name: "MetadataLink",
              type: "text",
              required: false,
              infoText: "Link naar metadatacatalogus met meer informatie",
            },
          ],
        },
        access: {
          label: "Toegang",
          questions: [
            {
              label: "Alleen intern zichtbaar",
              id: "closed_dataset",
              name: "ClosedDataset",
              type: "checkbox",
              required: false,
              infoText: "Laag is alleen zichtbaar binnen interne omgeving.",
            },
            {
              label: "Vereis inlog voor deze dataset",
              id: "login_required",
              name: "LoginRequired",
              type: "checkbox",
              required: false,
              infoText: "De inhoud van deze dataset kan alleen bekeken worden door ingelogde gebruikers.",
            },
            {
              label: "Groepen",
              objectDisplayName: "groepen",
              id: "atlas_groups",
              name: "atlasGroups",
              type: "picklist",
            },
          ],
        },
        linkedData: { label: "Gekoppelde data", questions: [], disableInputs: true },
        templates: { label: "Templates", questions: [], disableInputs: true },
      };
    },
  },
};
</script>

<style scoped>
.admin-label-button {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 12px;
}

.admin-list > li {
  display: flex;
  align-items: center;
  background: var(--color-white);
  padding: 4px 12px;
}

.admin-list > li:not(:last-child) {
  border-bottom: 1px solid var(--color-grey-60);
}

.admin-list-buttons {
  display: flex;
  gap: 6px;
  margin-left: auto;
}

.admin-list-buttons button:hover {
  background-color: var(--color-backdrop);
}
</style>
