:root {

  --md-primary-fg-color: #0066ff;
}

.md-footer {
  background-color: #0066ff;
}

.md-footer-meta {
  background-color: #0066ff;
  display: none;
}
img {
    border: 1px solid #555 !important;
    box-shadow: 2px 2px 5px grey !important;
    max-width: 100%;
}
