@import "../styles/variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-family);
  letter-spacing: -0.005em;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

/* Remove outline from all focused elements */
*:focus {
  outline: none;
  outline-offset: -2px;
}

/* Remove highlight color on Android */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html.keyboard-user *:focus {
  outline: 2px solid var(--color-primary);
}

@media (max-width: 575px) {
  .container {
    padding: 0 20px;
  }

  .section {
    padding: 32px 0;
  }
}

@media (min-width: 576px) {
  .container {
    padding: 0 32px;
  }

  .section {
    padding: 40px 0;
  }
}

input,
button {
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  background: var(--color-white);
  font: inherit;
  letter-spacing: inherit;
  text-align: left;
}

input::placeholder {
  color: var(--color-text-grey);
}

textarea {
  border: 1px solid var(--color-grey-60);
  border-radius: var(--radius-normal);
  resize: vertical;
  font: inherit;
  padding: 8px 16px;
}

button:not([disabled]) {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

svg {
  flex-shrink: 0;
}

.iconbutton {
  color: black;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-radius 0.1s;
}

.iconbutton.__small {
  width: 28px;
  height: 28px;
}

.iconbutton.__normal {
  width: 40px;
  height: 40px;
}

.iconbutton.__round {
  border-radius: 50%;
}

.iconbutton.__transparent-bg {
  background: transparent;
}

.iconbutton.__outline {
  border-radius: var(--radius-normal);
  border: 1px solid var(--color-grey-60);
}

.iconbutton[disabled] {
  color: var(--color-grey-60);
}

.iconbutton.isActive {
  color: var(--color-primary);
}

.iconbutton.__inverse.isActive {
  background: var(--color-primary);
}

.iconbutton:not([disabled]):hover {
  background: var(--color-grey-40);
}

.iconbutton.__admin_hover:not([disabled]):hover {
  background: var(--color-admin-primary-hover);
  outline: 2px solid var(--color-white);
  outline-offset: -2px;
}

/* If we set the hover state on the svg itself the svg does not change color if the button is hovered. */
.iconbutton.__inverse.isActive:not([disabled]):hover > svg {
  color: var(--color-primary);
}

.iconbutton.__inverse.isActive > svg {
  color: var(--color-white);
}

.iconbutton.__alt_hover:not([disabled]):hover {
  background: var(--color-primary-hover);
  outline: 2px solid var(--color-white);
  outline-offset: -2px;
}

.iconbutton.__no-hover:not([disabled]):hover {
  background: transparent;
}

.iconbutton:not([disabled]):active {
  background: var(--color-grey-50);
}

.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button {
  position: relative;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  border-radius: var(--radius-normal);
  line-height: 1;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  overflow: hidden;
}

.button.__primary {
  background: var(--color-primary);
  color: white;
}

.button.__primary_admin {
  background: var(--color-admin-primary);
  color: white;
}

.button.__secondary {
  background: white;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.button.__secondary_admin {
  background: white;
  border: 1px solid var(--color-admin-primary);
  color: var(--color-admin-primary);
}

.button.__tertiary {
  background: white;
  border: 1px solid var(--color-grey-60);
  color: black;
}

.button.__alert {
  background: white;
  border: 1px solid var(--color-alert);
  color: var(--color-alert);
}

.button.__large {
  height: 56px;
  font-size: var(--font-size-large);
  border-width: 1px;
}

.button.__normal {
  height: 40px;
}

.button.__small {
  height: 32px;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
}

.button.__transparent-bg {
  background: transparent;
}

.button:hover:before {
  background: var(--color-hover);
}

.button:active:before {
  background: var(--color-active);
}

.button.__no-hover:hover:before {
  background: transparent;
}

.button.__chevron {
  padding-right: 0;
}

.button.__chevron svg.setting-chevron {
  transition: transform 100ms ease-in-out;
}

.button.__chevron:hover svg.setting-chevron {
  transform: translateX(5px);
}

.text-button {
  display: flex;
  align-items: center;
  gap: 2px;
  background: white;
  color: black;
  font-size: var(--font-size-normal);
  text-decoration: none;
  height: fit-content;
}

.text-button:not([disabled]):hover {
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
}

.text-button:not([disabled]):focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 1px;
}

@media (max-width: 576px) {
  .button.__full-width-mobile {
    width: 100%;
  }
}

hr {
  border: none;
  border-top: 1px solid var(--color-grey-60);
}

.menu {
  padding: 6px 0;
  background: white;
  border-radius: var(--radius-small);
  border-top-right-radius: 0;
  box-shadow: var(--shadow-normal);
}

.list a,
.list button {
  display: block;
  width: 100%;
  color: black;
  text-decoration: none;
  padding: 4px 12px;
  font-size: var(--font-size-small);
}

.list a:hover,
.list button:hover {
  background: var(--color-grey-40);
}

.list a:active,
.list button:active {
  background: var(--color-grey-50);
}

.counter {
  flex-shrink: 0;
  height: 18px;
  min-width: 18px;
  border-radius: 9px;
  border: 1px solid var(--color-primary);
  padding: 0 3px;
  background: white;
  color: var(--color-primary);
  font-size: 11px;
  font-weight: var(--font-weight-bold);
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
  user-select: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.tippy-tooltip {
  padding: 0;
  border-radius: var(--radius-normal);
  font-family: inherit;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0em;
}

.tippy-tooltip .tippy-content {
  padding: 3px 7px 4px;
}

.tippy-tooltip.dark-theme .tippy-backdrop {
  background-color: var(--color-tooltip-dark);
}

.tippy-tooltip.primary-theme .tippy-backdrop {
  /* TODO: var(--color-primary) doesn't work */
  background-color: #0066ff;
}

.tippy-tooltip.popover-theme .tippy-backdrop {
  /* TODO: var(--color-primary) doesn't work */
  background-color: white;
}

.tippy-box[data-theme="popover"] {
  background-color: white;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  color: #000000;
  letter-spacing: inherit;
  box-shadow: var(--shadow-normal);
}

.tippy-box[data-theme="popover"][x-placement^="left"] .tippy-arrow {
  border-left-color: white;
}

.tippy-box[data-theme="popover"][x-placement^="right"] .tippy-arrow {
  border-right-color: white;
}

.tippy-box[data-theme="popover"] .tippy-content {
  padding: 0;
  overflow: auto;
}

.flex {
  display: flex;
}

.flex.__column {
  flex-direction: column;
}

.flex.__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex.__align-center {
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
}

.icon.__small {
  width: 16px;
  height: 16px;
}

.icon.__smedium {
  width: 18px;
  height: 18px;
}

.icon.__medium {
  width: 20px;
  height: 20px;
}

.icon.__large {
  width: 28px;
  height: 28px;
}

.icon.__grey {
  color: var(--color-text-grey);
}

.icon.__black {
  color: var(--color-black);
}

.icon.__white {
  color: var(--color-white);
}

.icon.__green {
  color: var(--color-succesful);
}

.icon.__red {
  color: var(--color-alert);
}

.icon.__marker {
  stroke: currentColor;
  stroke-width: 2px;
  fill: white;
}

/* Copied tailwind class sr-only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.warning-text {
  color: var(--color-alert);
  font-weight: var(--font-weight-bold);
}

/* form styling */
.form-error {
  color: var(--color-alert);
  font-weight: var(--font-weight-bold);
}

/* admin tailwind styling */
.__admin {
  h1 {
    @apply tw-text-[28px] tw-font-medium;
  }
}

.p-confirmpopup::before {
  left: 20px !important;
}

.p-confirmpopup::after {
  left: 20px !important;
}