@import "../styles/configurable_variables.css";

:root {
  --color-admin-primary: #424bff;
  --color-admin-primary-hover: #ebebff;
  --color-admin-primary-active: #cbccff;

  --font-family-admin: "Roboto", sans-serif;

  --color-text-grey: rgba(0, 0, 0, 0.55);

  --color-white: #ffffff;
  --color-black: #000000;
  --color-backdrop: #f6f6ff;

  --color-hover: rgba(0, 0, 0, 0.03);
  --color-active: rgba(0, 0, 0, 0.06);

  --color-grey-20: #eaeaea; /* divider (list items, files) */
  --color-grey-30: #dddddd; /* divider (sections, header) */
  --color-grey-40: #f5f5f5;
  --color-grey-50: #eaeaea;
  --color-grey-60: #dadada;
  --color-grey-80: #949494;

  --color-icon-grey: rgba(0, 0, 0, 0.42);

  --color-tooltip-dark: #222222;

  --font-size-tiny: 12px;
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-large: 18px;
  --font-size-xl: 24px;
  --font-size-2xl: 30px;
  --font-size-3xl: 36px;
  --font-size-4xl: 40px;

  --font-weight-normal: 300;
  --font-weight-bold: 600;

  --radius-small: 3px;
  --radius-normal: 6px;
  --radius-large: 12px;

  --shadow-light: 0 0 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.05);
  --shadow-normal: 0 0 1px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.15);

  --padding-screen: 8px;

  --width-detail: 100vw;
  --width-button-small: 24px;
  --width-button-normal: 32px;
  --width-button-large: 40px;

  --slider-transition: 0.15s;
  --slider-diameter: 14px;
  --slider-padding: 3px;
}

@media (min-width: 576px) {
  :root {
    --width-detail: 300px;
    --padding-screen: 16px;
  }
}

@media (min-width: 1200px) {
  :root {
    --width-detail: 400px;
    --padding-screen: 20px;
  }
}
