{% load django_vite %}
{% load static %}
<!DOCTYPE html>
<html lang="nl">
  <head>
    <title>Atlas · {{ config.ORGANIZATION_NAME }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" >

    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <link rel="shortcut icon" href="{% if config.FAVICON_URL %}{{ config.FAVICON_URL }}{% else %}{% static 'img/favicon.ico' %}{% endif %}" />

    {% vite_hmr_client %}
    {% vite_asset 'src/admin.js' %}
</head>
  <body>
    <div id="app" class="app"></div>
    {{ data|json_script:"app-data" }}
  </body>
</html>
