<template>
  <div class="panorama-panel">
    <div class="buttons">
      <select v-if="availableViewers.length > 0" v-model="selectedViewerId" name="viewer">
        <option v-for="(viewer, i) in availableViewers" :key="viewer.id" :value="i">
          {{ viewer.label }}
        </option>
      </select>
      <button class="iconbutton" :aria-label="isFullscreen ? 'Verkleinen' : 'Vergroten'" @click="toggleSize">
        <svg v-if="!isFullscreen" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z" />
        </svg>
        <svg v-if="isFullscreen" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M5 16h3v3h2v-5H5v2zm3-8H5v2h5V5H8v3zm6 11h2v-3h3v-2h-5v5zm2-11V5h-2v5h5V8h-3z" />
        </svg>
      </button>
      <button class="iconbutton" aria-label="Sluiten" @click="toggle">
        <close-icon class="icon __smedium"></close-icon>
      </button>
    </div>
    <div v-if="selectedViewer !== null" class="viewer">
      <google-maps v-if="position.marker && selectedViewer.type == 'GOOGLE_MAPS'" ref="viewer" :position="position" />
      <obliquo-viewer
        v-if="selectedViewer.type == 'OBLIQUO'"
        ref="viewer"
        :position="position"
        :url="selectedViewer.url"
        :username="selectedViewer.username"
        :password="selectedViewer.password"
      />
      <street-smart
        v-if="position.marker && selectedViewer.type == 'STREET_SMART'"
        ref="viewer"
        :position="position"
        :username="selectedViewer.username"
        :password="selectedViewer.password"
        :api-key="selectedViewer.api_key"
      />
      <iframe-viewer
        v-if="position.marker && selectedViewer.type == 'IFRAME'"
        ref="viewer"
        :position="position"
        :url="selectedViewer.url"
      />
      <button-viewer
        v-if="position.marker && selectedViewer.type == 'BUTTON'"
        ref="viewer"
        :position="position"
        :url="selectedViewer.url"
      />
      <div v-if="!selectedViewer" class="message">
        Er is geen panoramaweergave beschikbaar. Configureer een viewer in het beheerpaneel.
      </div>
      <div v-if="!position.marker" class="message">Klik op een punt in de kaart om de panorama te bekijken.</div>
    </div>
  </div>
</template>

<script>
import GoogleMaps from "../viewers/GoogleMaps.vue";
import ObliquoViewer from "../viewers/ObliquoViewer.vue";
import StreetSmart from "../viewers/StreetSmart.vue";
import IframeViewer from "../viewers/IframeViewer.vue";
import ButtonViewer from "../viewers/ButtonViewer.vue";
import { mapState } from "pinia";
import { useGlobalStore } from "@/stores";
import CloseIcon from "../assets/icons/close-icon.svg";

export default {
  name: "PanoramaPanel",
  components: {
    CloseIcon,
    GoogleMaps,
    ObliquoViewer,
    StreetSmart,
    IframeViewer,
    ButtonViewer,
  },
  props: {
    position: Object,
  },
  emits: ["toggle-full-screen", "toggle"],
  data() {
    return {
      isFullscreen: false,
      selectedViewerId: 0,
    };
  },
  computed: {
    availableViewers: function () {
      return this.config.viewers.filter((v) => !v.is_oblique);
    },
    selectedViewer: function () {
      if (this.selectedViewerId === null) {
        return null;
      }

      return this.availableViewers[this.selectedViewerId];
    },
    ...mapState(useGlobalStore, ["config"]),
  },
  methods: {
    toggle() {
      this.$emit("toggle");
    },
    toggleSize() {
      this.isFullscreen = !this.isFullscreen;
      this.$emit("toggle-full-screen", this.isFullscreen);
    },
  },
};
</script>

<style scoped>
.panorama-panel {
  flex-grow: 1;
  height: 100%;
}

.buttons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  background: white;
  box-shadow: var(--shadow-normal);
  overflow: hidden;
  /* Show buttons on top of viewer (buttons) */
  z-index: 3;
}

.viewer {
  width: 100%;
  height: 100%;
  background: white;
  overflow: hidden;
  /* Show viewer on top of .scale */
  z-index: 2;
}

.buttons .iconbutton:first-child {
  box-sizing: content-box;
  border-right: 1px solid var(--color-grey-50);
}

.iconbutton {
  width: var(--width-button-normal);
  height: var(--width-button-normal);
}

.message {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-size: var(--font-size-normal);
  color: var(--color-text-grey);
}
</style>
